body{
    margin: 0;
    background-color: rgb(49, 49, 49);>
    

}
.encabezado { 
    background-color: rgb(55, 54, 54);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(211, 211, 226); 
    text-align: center;
    border: 2.5px black solid;
    margin: 0px;
    font-size: 40px;
    
}

.segunda-linea h2{

    color: brown;
    text-align: center;
    border: 2.5px black solid;
    margin: 0px;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
h3{
    border: 1px black solid;
    color: black;
    background-color: red;
    text-align: center;
}
.container-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    max-width: 90vw;

    
}
.container-img img{
    border-radius: 15%;
    max-width: 80vw;
    min-width: 80vw;
    
}
.img-section{
    display:flex;
    justify-content: center;
}


.video-audio{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    max-width: 90vw;
    
}

iframe{
    max-width: 80vw;
    min-width: 80vw;
}
.video-audio audio{
    margin: 20px;
    max-width: 80vw;
    min-width: 90vw;
}

.img-title{
    color: beige;
    font-size: 40px;
    margin-bottom: 8px;
}
.segunda-linea{
    padding: 10px;
}
form{
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    align-items: center;
    border: black solid;
    width: 50%;
    background: rgba(69, 78, 102,1);
    max-width: 80vw;
    min-width: 80vw;
    

    
}
.form-container{
    display: flex;
    justify-content: center;
    padding: 5px;
   
}
form input{

    margin: 3px;
}
.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    min-width: 80vw;
}
